$color-primary:#21d4fd;
$color-secondary:#B721FF;

$color-primary-2:#FFE53B;
$color-secondary-2:#FF2525;

$color-primary-3:#FF5ACD;
$color-secondary-3:#FBDA61;

$color-white:#fff;
$color-black:#000;

$color-grey-1:#777;